babel==2.9.0
flask-moment==0.11.0
flask-wtf==0.14.3
flask_sqlalchemy==2.4.4
alembic==1.3.0
click==8.0
Flask==2.1.2
Flask-Migrate==2.5.2
itsdangerous==2.0
jinja2==3.0
mako==1.1.0
markupSafe==2.0
python-dateutil==2.8.1
python-editor==1.0.4
six==1.13.0
SQLAlchemy==1.3.10
Werkzeug==2.0
postgres==4.0